// для главной
.main {
    background-image: url('../images/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100vh;
    width: 100%;
    transition: all .5s;
    &:hover {
        opacity: 0.8;
    }
    &__header {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__footer {
        display: flex;
        gap: 64px;
        padding-bottom: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

// для "о нас"
.aboutus {
    display: flex;
    flex-direction: column;
    &__header {
        height: 60vh;
        background-image: url('../images/main-header.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__us {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        &_texts {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    &__center {
        height: 60vh;
        background-image: url('../images/main-center.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__kitchen {
        display: flex;
        gap: 40px;
        padding-top: 45px;
        padding-bottom: 100px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        &_img {
            width: 480px;
            height: 450px;
            border-radius: 2px;
        }
        &_text {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}
