* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black: #333;
$dark: #595353;
$gray1: #D6D6D6;
$gray2: #B6B1B1;
$pink: #F57276;
$light-pink: #FFB2B5;
$dark-pink: #D6626F;
$gray-pink: #B29397;
$dark-red: #9E5151;
$white: #FFF;
$beige: #F3E1CF;
$beige2: #F6F3EF;
$red: #FF1E25;


a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: max-content;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        color: $gray2;
    }
    &:active {
        color: $dark;
    }
}

body {
    font-family: Inter;
    color: $black;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Bold.ttf') format('ttf');
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

// ПАГИНАЦИЯ
.small, .text-muted {
    display: none;
}
.pagination {
    margin-bottom: 0;
}
.page-item {
    & .active {
        background-color: $pink !important;
        background: $pink !important;
    }
}

.page-link {
    color: $pink;
    &:hover {
        color: $dark-pink;
    }
}

.active>.page-link, .page-link.active {
    background-color: $pink !important;
    background: $pink !important;
    border-color: $pink !important;
    &:hover {
        color: $beige;
    }
}

// ТЕКСТЫ
// 64
.text-h1 {
    font-family: 'Cormorant Garamond';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// 40
.text-h2-med {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h2-reg {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 32
.text-h3-med {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h3-reg {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 28
.text-body1-med {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body1-reg {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 24
.text-body2-med {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body2-reg {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 22
.text-body22-med {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body22-reg {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 20
.text-body3-med {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body3-reg {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 16
.text-body4-med {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body4-reg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 12
.text-body5-reg {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-white {
    color: $white;
}

.gray-pink {
    color: #B29397;
}

// button

button {
    display: block;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 5px;
    color: $white;
    background: $pink;
    transition: all .3s;
    outline: none;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    &:hover {
        background: $dark-pink;
    }
    &:active {
        background: $light-pink;
    }
}

.button-mini {
    @extend .button;
    padding: 8px;
}

.button-light {
    color: $pink;
    border: 2px solid $pink;
    background: transparent;
    &:hover {
        background: transparent;
        border: 2px solid $dark-pink;
        color: $dark-pink;
    }
    &:active {
        background: transparent;
        border: 2px solid $light-pink;
        color: $light-pink;
    }
}

.button-gray-pink {
    color: $gray1;
    background: $gray-pink;
}

.button-dark-red {
    background: $dark-red;
}

// input
.input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 2px;
    border: 1px solid $gray1;
    background: #FFF;
    padding: 7px 14px;
    outline: none;
    &::placeholder {
        color: $gray1;
    }
    &:hover {
        border: 1px solid $gray2;
    }
    &:focus {
        border: 1px solid $black;
    }
}

.input-error-field {
    border: 1px solid $red !important;
}

.input-error-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $red;
}

.input-success-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: green;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.select {
    @extend .input;
    height: auto;
}

//.selects {
//    background-color: transparent;
//    padding: 11px 22px 10px 14px;
//    width: 330px;
//    height: 41px;
//    border: 1px solid #423000;
//    border-radius: 16px;
//    font-family: inherit;
//    font-style: normal;
//    font-weight: 400;
//    font-size: 16px;
//    line-height: 20px;
//    outline: none;
//}

@import 'header';
@import 'main';
@import 'menu';
@import 'client';
@import 'admin';
@import 'adaptability';
