* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$black: #333;
$dark: #595353;
$gray1: #D6D6D6;
$gray2: #B6B1B1;
$pink: #F57276;
$light-pink: #FFB2B5;
$dark-pink: #D6626F;
$gray-pink: #B29397;
$dark-red: #9E5151;
$white: #FFF;
$beige: #F3E1CF;
$beige2: #F3E1CF;


a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: max-content;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        color: $gray2;
    }
    &:active {
        color: $dark;
    }
}

body {
    font-family: Inter;
    color: $black;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('ttf');
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Bold.ttf') format('ttf');
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

// ТЕКСТЫ
// 64
.text-h1 {
    font-family: 'Cormorant Garamond';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

// 40
.text-h2-med {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h2-reg {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 32
.text-h3-med {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h3-reg {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 28
.text-body1-med {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body1-reg {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 24
.text-body2-med {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body2-reg {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 22
.text-body22-med {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body22-reg {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 20
.text-body3-med {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body3-reg {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 16
.text-body4-med {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-body4-reg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// 12
.text-body4-reg {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-white {
    color: $white;
}

// button

button {
    display: block;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 5px;
    color: $white;
    background: $pink;
    transition: all .3s;
    outline: none;
    border: none;
    padding: 12px 42px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    &:hover {
        background: $dark-pink;
    }
    &:active {
        background: $light-pink;
    }
}

.button-light {
    color: $pink;
    border: 2px solid $pink;
    background: transparent;
    &:hover {
        background: transparent;
        border: 2px solid $dark-pink;
        color: $dark-pink;
    }
    &:active {
        background: transparent;
        border: 2px solid $light-pink;
        color: $light-pink;
    }
}

.button-gray-pink {
    color: $gray1;
    background: $gray-pink;
}

.button-dark-red {
    background: $dark-red;
}

// input
.input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 2px;
    border: 1px solid $gray1;
    background: #FFF;
    padding: 10px 14px;
    outline: none;
    height: 40px;
    &::placeholder {
        color: $gray1;
    }
    &:hover {
        border: 1px solid $gray2;
    }
    &:focus {
        border: 1px solid $black;
    }
}

.footer {
    height: 100px;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 38px;
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.header {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    &__nav {
        display: flex;
        gap: 20px;
    }
}

// для главной
.main {
    background-image: url('../images/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 100vh;
    width: 100%;
    transition: all .5s;
    &:hover {
        opacity: 0.8;
    }
    &__header {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__footer {
        display: flex;
        gap: 64px;
        padding-bottom: 20px;
    }
}

// длф "о нас"
.aboutus {
    display: flex;
    flex-direction: column;
    &__header {
        height: 60vh;
        background-image: url('../images/main-header.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__us {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        &_texts {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    &__center {
        height: 60vh;
        background-image: url('../images/main-center.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__kitchen {
        display: flex;
        gap: 40px;
        padding-top: 45px;
        padding-bottom: 100px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        &_img {
            width: 480px;
            height: 450px;
            border-radius: 2px;
        }
        &_text {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}

// auth
.auth {
    display: flex;
    flex-direction: column;
    background-image: url('../images/auth-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    &-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__form {
        border-radius: 5px;
        background-image: url('../images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 662px;
        padding-top: 55px;
        padding-bottom: 92px;
        padding-right: 178px;
        padding-left: 178px;
        &_items {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &_inputs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;
        }
    }
}

// menu 
.menu {
    display: flex;
    flex-direction: column;
    min-height: 91vh;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        background: $dark;
        border-radius: 2px;
        width: 100%;
        height: 100px;
    }
}